@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;700&display=swap');

.page-title {
    color: white;
    font-family: 'Rajdhani', sans-serif;
    font-size: xxx-large;
    font-weight: 700;
}