<div class="wrapper">
    <div class="content">
        <div class="row">
            <div class="what w-60p">
                <div class="what-head">
                    <span class="head-span" [innerHTML]="whatHeadText"></span>
                </div>

                <div class="what-body">
                    <div class="body-content lineheight-1-5">
                        <span class="body-span" [innerHTML]="whatBodyText"></span>
                    </div>
                </div>
            </div>
            <div class="astronaut w-40p">
                <img class="astro-image w-100p" src="assets/backgrounds/astronaut/astro-1.png" alt="">
            </div>
        </div>
    </div>
</div>