<div class="wrapper">
    <div class="content">
        <div class="who-head">
            <span class="head-span" [innerHTML]="whoHeadText"></span>
        </div>
        <div class="row">
            <div class="pointer-cursor astronaut w-25p">
                <img class="astro-image w-100p" src="assets/backgrounds/astronaut/astro-buds-1.png" alt="">
                <span class="astro-name" [innerHTML]="astroName_1"></span>
            </div>
            <div class="pointer-cursor astronaut w-25p">
                <img class="astro-image w-100p" src="assets/backgrounds/astronaut/astro-buds-2.png" alt="">
                <span class="astro-name" [innerHTML]="astroName_2"></span>
            </div>
            <div class="pointer-cursor astronaut w-25p">
                <img class="astro-image w-100p" src="assets/backgrounds/astronaut/astro-buds-3.png" alt="">
                <span class="astro-name" [innerHTML]="astroName_3"></span>
            </div>
            <div class="pointer-cursor astronaut w-25p">
                <img class="astro-image w-100p" src="assets/backgrounds/astronaut/astro-buds-4.png" alt="">
                <span class="astro-name" [innerHTML]="astroName_4"></span>
            </div>
        </div>
    </div>
</div>