.nav-menu {
    position: fixed;
    top: 1%;
    right: 1%;

}

.nav-container {
    z-index: 100;
}

.side-nav {
    width: 20%;
}

.icon-white {
    color: white;
}

.user-image {
    width: 110px;
    height: 110px;
    margin: 0 auto;
}

.user-image img {
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, .1);
    width: 100%;
    height: 100%;
}