<div class="wrapper">
    <div class="display-table">
        <div class="display-cell">

            <div class="auth-box">
                <div class="auth-head">
                    <span class="auth-span">
                        <label>Reset</label>
                    </span>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email" #userName required>
                </div>
                <div class="form-group">
                    <input type="button" class="" value="Log In" (click)="auth.forgotPassword(userName.value)">
                </div>
            </div>

        </div>
    </div>
</div>